
<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sit repellat perferendis odio maxime soluta nesciunt natus eum in. Quod quibusdam eligendi et delectus! Non aut sit cum possimus officia.
Suscipit pariatur adipisci repellat facilis sunt voluptas, saepe officiis quas, natus est provident odit temporibus vero aliquam perspiciatis beatae facere eveniet! Amet unde temporibus odit suscipit, eum provident voluptate minima!
Aperiam animi omnis sunt magni voluptatum atque et, labore laudantium deserunt quod in repellendus incidunt quia nisi officiis necessitatibus. Consequuntur quaerat eos laudantium non, praesentium iusto pariatur dolorem optio porro.
Rem reprehenderit quasi delectus accusamus accusantium! Est, fugit saepe! Totam sit fuga, provident omnis molestias accusantium velit earum suscipit, ullam similique odit enim doloribus excepturi fugiat fugit. Dolores, dignissimos cum?
At pariatur, esse, ad ipsam quibusdam, quas commodi modi recusandae quod porro reprehenderit vitae iusto vero quisquam maxime hic facere. Exercitationem aperiam voluptates aspernatur quae hic inventore repellat saepe odio.
Tempore doloremque quaerat odio aliquam officia fugit, nisi aut fugiat accusantium ipsam molestias nulla, error nihil excepturi aperiam temporibus, distinctio dolor quia! Eligendi, ducimus perferendis! Aut amet illum dolor velit!
Illum molestias molestiae, consequatur nam libero quae a. Corrupti, necessitatibus! Consequuntur, nesciunt fugit sapiente eius veritatis commodi similique unde molestias nostrum nobis labore repellat accusantium suscipit ea culpa accusamus ratione.
Consequatur exercitationem dolorum odit eligendi impedit eius dolores, dolorem voluptatibus aliquid vero neque non optio esse totam perferendis minus omnis corrupti quod tempore nostrum distinctio suscipit</p>

<%- include("footer") -%>